.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.dropzone-container {
  border: 2px dashed blueviolet;
  width: fit-content;
  padding: 0 12px;
  
}

.img-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.invoice-preview {
  width: 310px;
  height: 440px; 
}

.paper {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}

.fileName-container {
  padding: 8px 0;
}

.empty-file {
  height: 22px;
  content: "";
  width: 20px;
}

.invoice-zoom {
  width: 550px;
}

.modal {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.saveButton {
  width: 120px;
  height: 60px;

}

.loading-div {
  width: 80px;
}